{
    "bravery": "0.5",
    "vocab": "default",
    "random_function_call_pdf": {
        "mad_lib": "0",
        "spongebob_mock": "0",
        "post_meme": "1",
        "cross_map": "0",
        "create_meme": "0",
        "reddit_roast": "0"
    },
    "subreddits": {
        "me_irl": "1"
    }
}