{
    "bravery": "0.5",
    "vocab_path": "vocab",
    "random_function_call_pdf": {
        "mad_lib": "5",
        "spongebob_mock": "1",
        "post_meme": "4"
    },
    "subreddits": {
        "me_irl": "15",
        "cursedImages": "10",
        "EggsInStrangePlaces": "5",
        "blessedImages": "1",
        "blursedImages": "5",
        "bruhmoment": "3",
        "BoneHurtingJuice": "3",
        "wholesomememes": "10",
        "2meirl4meirl": "10",
        "WhitePeopleTwitter": "5",
        "cursedcomments": "10",
        "ThanosDidNothingWrong": "15",
        "pornhubcomments": "25",
        "SurrealMemes": "5",
        "rowing": "5"
    }
}