{
    "bravery": "0.1",
    "vocab": "hubc",
    "random_function_call_pdf": {
        "mad_lib": "5",
        "spongebob_mock": "1",
        "post_meme": "4",
        "cross_map": "2",
        "create_meme": "0"
    },
    "subreddits": {
        "me_irl": "0",
        "cursedImages": "5",
        "EggsInStrangePlaces": "0",
        "blessedImages": "0",
        "blursedImages": "0",
        "bruhmoment": "0",
        "BoneHurtingJuice": "1",
        "wholesomememes": "0",
        "2meirl4meirl": "0",
        "WhitePeopleTwitter": "0",
        "cursedcomments": "5",
        "ThanosDidNothingWrong": "0",
        "pornhubcomments": "5",
        "SurrealMemes": "2",
        "rowing": "0",
        "dankmemes": "5",
        "imsorryjon": "3"
    }
}